@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Anek Malayalam', sans-serif;
    background: #DCE7F8;
    color: #11052c;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0 30px;
    /*box-shadow: 0 0 4px 4px #DEDEDE;*/
}

main {
    font-family: 'Anek Malayalam', sans-serif;
    background: #DCE7F8;
    color: #11052c;
    display: flex;
    justify-content: center;

    padding: 0 30px;
    /*box-shadow: 0 0 4px 4px #DEDEDE;*/
}
.quiz-container {
    max-width: 500px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 4px;
    /*margin-top: 100px;*/
    padding: 0px 60px;
    box-shadow: 0 0 4px 4px #DEDEDE;

}

.lesson-container {
    /*max-width: 700px;*/
    /*min-width: 250px;*/
    width: 900px;
    height: 600px;
    background: #ffffff;
    /*border-radius: 4px;*/
    /*margin-top: 100px;*/
    padding: 0px 60px;
    justify-content: center;
    box-shadow: 0 0 4px 4px #DEDEDE; }

.lesson-container .header {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 8px;

    }

.lesson-container .footer {
        width: 360px;
        position: relative;
        margin: 0 auto;
        padding: 10px 4px;
        margin-top: 10px;
    }

.image-container {
    border: 1px solid #DEDEDE;
    padding: 12px;
    box-shadow: 0 0 4px 4px #DEDEDE;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 1rem;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    perspective: 100%;
    max-width: 720px;
}

.game-container {
    /*max-width: 700px;*/
    /*min-width: 250px;*/
    /*height: 600px;*/
    min-height: 550px;
    width: 500px;
    background: #ffffff;
    border-radius: 4px;
    /*margin-top: 100px;*/
    padding: 0px 60px;
    justify-content: center;
    border: 1px solid #DEDEDE;
    /*padding: 12px;*/
    box-shadow: 0 0 4px 4px #DEDEDE;





}

.alphabet-container {
    max-width: 1200px;
    min-width: 250px;
    /*height: 400px;*/
    background: #ffffff;
    border-radius: 4px;
    /*margin-top: 100px;*/
    padding: 0px 60px;
    justify-content: center;
    box-shadow: 0 0 4px 4px #DEDEDE;

}

.dictionary-container {
    max-width: 1200px;
    min-width: 250px;
    /*height: 400px;*/
    background: #ffffff;
    border-radius: 4px;
    /*margin-top: 100px;*/
    padding: 0px 60px;
    justify-content: center;
    box-shadow: 0 0 4px 4px #DEDEDE;

}

.home-container {
    max-width: 1200px;
    min-width: 500px;
    /*height: 400px;*/
    background: #ffffff;
    border-radius: 4px;
    /*margin-top: 100px;*/
    padding: 0px 60px;
    justify-content: center;
    /*box-shadow: 0 0 4px 4px #DEDEDE;*/

}

.lesson-container .StepperLabel {
    font-family:'Anek Malayalam', sans-serif ;
    font-size: 20px;
    font-weight: 500;
    color: #e0dee3;

}
.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: darkblue;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: darkblue;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container ul .selected-answer {
    background: lightblue;
    border: 1px solid darkblue;
}

.quiz-container button {
    background: dodgerblue;
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

.result p {
    font-size: 16px;
    font-weight: 500;
}

.result p span {
    color: darkblue;
    font-size: 22px;
}